In [ ]:
import random
import csv
import pymysql.cursors
import datetime
database = pymysql.connect (host="localhost", user = "user", passwd = "password", db = "rideshare")

In [ ]:
# to insert values into parent-table with customer id from 1 to 5000 with random social score values.

cursor = database.cursor()
str(round(random.uniform(0.5, 5.0),2))
query = """INSERT INTO customer_table (user_rating) VALUES (%s)"""
for i in range(1,5001):
    cursor.execute(query, str(round(random.uniform(0.5, 5.0),2)))
cursor.close()
database.commit()

In [ ]:
# to insert values into child-table, from the data fetched from CSV.

cursor = database.cursor()
query = """INSERT INTO taxi_data (customer_id,ptime,pdate,dtime,ddate,pcount,tripDistance,plongitude,platitude,dlongitude,dlatitude,fare) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
flag = False;
with open('/users/tinesh/Downloads/yellow_tripdata_2016-02.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    next(readCSV)
    c_flag = True
    for row in readCSV:
        if (float(row[5]) < -73.9650 and float(row[5]) >-73.9850):
            if(float(row[6])> 40.6725) and (float(row[6])<40.6925):
                #if(float(row[9]) > 0.0 and float(row[10]))
                pd,pt = row[1].split(" ")
                dd,dt = row[2].split(" ")
                c_id = random.randint(1,5000)
                c_id = random.randint(1,5000)
                c_query = """SELECT DATE_ADD(ddate, INTERVAL (TIME_TO_SEC(dtime)+((time_to_sec(dtime)-time_to_sec(ptime)) * 2)) second) as ntime from taxi_data where customer_id = %s and pdate = %s order by ddate,dtime desc"""
                c_values = (c_id,pd)
                cursor.execute(c_query,c_values)
                c_data = cursor.fetchone()
                if (c_data is not None):
                    tdy = datetime.datetime.strptime(dd , '%Y-%m-%d')
                    tdt = datetime.datetime.strptime(dt, '%H:%M:%S').time()
                    tdyt = datetime.datetime.combine(tdy,tdt)
                    if(c_data[0] < tdyt ):
                        c_flag = False;
                values = (c_id,pt,pd,dt,dd,row[3],row[4],row[5],row[6],row[9],row[10],row[18])
                cursor.execute(query, values)                    
                c_flag = True                
cursor.close()
database.commit()

In [ ]:
cursor = database.cursor()
c_query = """SELECT distinct(customer_id) from taxi_data"""
cursor.execute(c_query)
c_rows = cursor.fetchall()
for row in c_rows:
    c_bi_query = """SELECT distinct(trip_id) from taxi_data where customer_id = %s"""
    cp_query = """INSERT INTO customer_preference(customer_id,booking_id,delay,save_money_yn,save_time_yn) VALUES(%s,%s,%s,%s,%s)"""
    cursor.execute(c_bi_query,row[0])
    c_bi_ids = cursor.fetchall()    
    for c_bi_id in c_bi_ids:
        save_time_yn = 'Y' if round(random.uniform(0,1)) == 0 else 'N'
        delay=0
        save_money_yn = 'N'
        if( save_time_yn == 'N'):
            delay = round(random.uniform(0,5))
            save_money_yn = 'Y'
        values = (row[0],c_bi_id,delay,save_money_yn,save_time_yn)
        cursor.execute(cp_query,values)

cursor.close()
database.commit()
database.close()